/DotNET/CoreDto/bin
/DotNET/CoreDto/obj
/DotNET/KuivuriWeb/bin
/DotNET/KuivuriWeb/obj
/DotNET/NetDto/bin
/DotNET/NetDto/obj
/DotNET/packages
/DotNET/RaspiService/bin
/DotNET/RaspiService/obj
/DotNET/KuivuriWeb/Properties/PublishProfiles/*.user
/DotNET/.vs
/Firmware/RaspiKuivuri/.vs/RaspiKuivuri/v14/*.atsuo
/Firmware/RaspiKuivuri/RaspiKuivuri/Release
/Firmware/RaspiKuivuri/RaspiKuivuri/src/ASF
